.card {
    float: left;
    padding: 10px;
    display: flex;
    margin: 2.8rem;
    background-color: bisque;
    transition: transform .2s;
    border: 0.5px solid black;
  }
  
  .card:hover{
    transform: scale(1.14);
  }
  
  
  
  h5{
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .btn-primary {
      color: #fff;
      background-color: black;
      border-color: #0d6efd;
  }
  
  footer {
    clear:both;
    text-align: center;
    padding: 3px;
    color: white;
    background-color:black;
  }
  
  .rows{
    background-color: black;
  }