.details{
    margin: 80px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

table, th, td {
  border: 2px solid black;
  margin: auto;
  padding: 15px;
  margin-top: -40px;
  margin-bottom: 50px;
}

#country{
    text-align: center;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    background-color: black;
}